.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/header-logo.svg);
  /* Переложил, я к сожадению не помню где, наверно на лайвкодинке (не помню), обсуждалось, что если сущность не живет без блока, то ее вставляем в блок, что бы можно было целиком блок перетащить. Или и так и так можно? */
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: 142px 42px;
  }
}
