.width-l {
  width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  .width-l {
    width: 100%;
    margin: 0;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .width-l {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .width-l {
    padding: 0;
  }
}
