.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto-fit 1fr;
  grid-template-areas:
    "place__title place__website"
    "place__image place__text";
  gap: 48px 40px;
  width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  .place {
    width: 100%;
    margin: 0;
    padding: 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 968px) {
  .place {
    grid-template-columns: calc((100vw - 768px)/2 + 340px) 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__text";
    gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    padding: 0;
  }
}
